body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

a:link {
  color: #000;
  text-decoration: none;
  cursor: default;
}

a:visited {
  color: #000
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


#root {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cardWrap {
  margin-top: 20px;
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
}

.cardWrap img {
  width: 100%;
  min-height: 170px;
  object-fit: cover;
}


@media all and (max-width: 992px) {
  .cardWrap {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }

  .cardWrap img {
    min-height: 200px;
  }
}

@media all and (max-width: 768px) {
  .cardWrap {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }

  .cardWrap img {
    min-height: 260px;
  }
}
 
@media all and (max-width: 576px) {
  .cardWrap {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}


.card {
  border: 1px solid #d8d8d8;
  border-radius: 5px;
}

.cardTitle {
  font-size: 14px;
  height: 60px;
  padding: 10px;
}

.cardButtom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}

.cart .inCart {
  color: rgb(196, 196, 196);
}

ul.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 20px 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

ul.pagination li a.active {
  background-color: #000;
  color: white;
  border: 1px solid #000;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}


table {
  width: 100%;
  border: 1px solid #fff;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #000;
  text-align: center;
  height: 50px;
}

th {
  background-color: #000;
  color: #fff;
}

.priceTable {
  margin-top: 30px;
}

.priceTable td{
  width: 25%;
  font-weight: bold;
}

.priceTable .finalPrice{
  font-size: 20px;
  color: red;
}

.coupons {
  margin-bottom: 10px;
}

